<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">Welcome on Arkysia!</span>
        <span id="welcomeDescription">Arkysia immerses you in a harsh post-apocalyptic world where survival, exploration, and high-risk PvP define the experience. Explore a vast open map filled with ruined cities, dangerous zones, and valuable loot, build and secure your own base to protect your gear, and engage in tactical combat across environments designed for intense player encounters. Every decision matters, every expedition is a gamble, and only the most prepared will survive the wastelands of Arkysia.</span>
        <br>
        <span id="welcomeDescCTA">Ready to continue.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>